### **Project 2: Classification Models**

One of the largest public sector banks which has several branches across cities provides various services like savings accounts, current accounts, term deposits, personal loans, home loans etc. to customers. Whenever the bank conducts marketing on its new schemes, it will keep track of data related to customers’ personal, social and economic details. Also, it maintains the detailing on efforts made to achieve success in the campaign. Recently, the bank has conducted a campaign to market their term-deposit scheme. Campaigns were conducted based mostly on direct phone calls, soliciting the bank's customers to place a term deposit. After all the marketing efforts, if the client had agreed to place a deposit, then the campaign is a success, otherwise not (Target variable marked 'yes', or 'no'). It is a challenge for bank officials to target the right people for a successful campaign. 

Tasks:
1. Data loading, data cleaning and report analysis. (Weightage 30 Marks)
2. Building ML-  Classification Model. (Weightage 70 Marks)

Data Dictionary:

Age:	(numeric)
Job:	Type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed',
 	'services', 'student', 'technician', 'unemployed', 'unknown')
Marital :	Marital status (categorical: 'divorced', 'married', 'single', 'unknown';Note: 'divorced' means divorced or widowed)
Education:	(categorical: 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 	'professional.course', 'university.degree', 'unknown')
Default:	Has credit in default? (categorical: 'no', 'yes', 'unknown')
Housing:	Has housing loan? (categorical: 'no', 'yes', 'unknown')
Loan:	Has personal loan? (categorical: 'no', 'yes', 'unknown')
Contact:	Contact communication type (categorical: 'cellular', 'telephone')
Month:	Last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
Day_of_week:	last contact day of the week (categorical: 'mon', 'tue', 'wed', 'thu', 'fri')
Duration:	Last contact duration, in seconds (numeric).
 	Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
Campaign:	Number of contacts performed during this campaign and for this client (numeric, includes last contact)
Pdays:	Number of days that passed by after the client was last contacted from a previous campaign: (numeric; 999 means client was not previously contacted)
Previous:	number of contacts performed before this campaign and for this client (numeric)
Poutcome:	outcome of the previous marketing campaign (categorical:
 	'failure', 'nonexistent', 'success')
Output variable (desired target):
Y:	has the client subscribed a term deposit? (binary: 'yes', 'no')

**Initial Guidelines:**

1. Ensure to follow to Use Id’s provided by UNext for naming file as conventions.
2. Create GitHub account and submit the GitHub link.

### Software Engineering aspect:  

Utilize software engineering aspects while building Machine learning model using modular programming principles to organize your code into reusable functions or classes to enhance readability, maintainability, and collaboration.

### General Instructions

- The cells in the Jupyter notebook can be executed any number of times for testing the solution
- Refrain from modifying the boilerplate code as it may lead to unexpected behavior
- The solution is to be written between the comments `# code starts here` and `# code ends here`
- On completing all the questions, the assessment is to be submitted on moodle for evaluation
- Before submitting the assessment, there should be `no error` while executing the notebook. If there are any error causing code, please comment it.
- The kernel of the Jupyter notebook is to be set as `Python 3 (ipykernel)` if not set already
- Include imports as necessary
- For each of the task, `Note` section will provide you hints to solve the problem.
- Do not use `PRINT` statement inside the `Except` Block. Please use `return` statement only within the except block

#### **Utilize software engineering aspects while building Machine learning model using modular programming principles to organize your code into reusable functions or classes to enhance readability, maintainability, and collaboration.**

### Loading required libraries and packages

#### NOTE:
Import various libraries and modules used in data analysis, machine learning, and visualization tasks in Python such as `pandas`, `numpy`, `sklearn`, `sklearn.preprocessing`,`seaborn`,`matplotlib`.There are 2 ways to import the libraries and modules:
* import numpy as np
* from sklearn.model_selection import train_test_split

In [1]:
import numpy as np
from sklearn.model_selection import train_test_split

### Task 1: Load the dataset and perform preliminary EDA (Exploratory Data Analysis) with key observations and insights- (weightage - 15 marks)

#### NOTE:

Loading the dataset for model building is the initial step in the machine learning pipeline, where the relevant data is imported into the chosen programming environment or framework. This process typically involves reading the dataset from a file (e.g., CSV, Excel, JSON) or fetching it from a database. Once loaded, the dataset is often inspected to understand its structure, including the number of samples, features, and target variables. Furthermore, preprocessing steps such as cleaning, handling missing values, encoding categorical variables, and scaling may be performed on the dataset to prepare it for model training. Loading the dataset accurately and efficiently is crucial for building accurate and robust machine learning models that effectively capture the underlying patterns and relationships within the data.

- Do not use PRINT statement inside the Except Block. Please use `return` statement only

#### T1. Import following datasets      (Weightage- 3 marks)  (AE)
-    customer_and_bankdetails
-    customer_campaign_details
-    customer_response_data
-    customer_social_economic_data
-    customer_postal_code_details
-   state_master
-    region_code_master
-    city_master

In [16]:
import pandas as pd
def load_the_dataset_customer_and_bank_details():
    customer_and_bankdetails = None
    try:
        customer_and_bankdetails=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Customer_and_bank_details.csv')
    except Exception as e:
        return "Check with file"
    
    return customer_and_bankdetails

In [18]:
#store the result of the dataset
customer_and_bankdetails=load_the_dataset_customer_and_bank_details()

print(customer_and_bankdetails.head())

   Customer_id  age          job  marital            education  default  \
0            1   56     services  married          high.school       no
1            2   45     services  married             basic.9y  unknown
2            3   59       admin.  married  professional.course       no
3            4   41  blue-collar  married              unknown  unknown
4            5   24   technician   single  professional.course       no

  housing loan Region_Code State_Code City_Code
0      no  yes           3         S1        C1
1      no   no           3         S1        C1
2      no   no           4         S2        C2
3      no   no           3         S3        C3
4     yes   no           3         S3        C3

In [25]:
# to import Customer_campaign_details

def load_the_dataset_customer_campaign():
    Customer_campaign_details = None
    # Code starts here
    try:
        Customer_campaign_details=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Customer_campaign_details.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return Customer_campaign_details

In [27]:
# store the result of the dataset
Customer_campaign_details=load_the_dataset_customer_campaign()
print(Customer_campaign_details.head())

   Customer_id    contact month day_of_week  duration  campaign  pdays  \
0            1  telephone   may         mon       307         1    999
1            2  telephone   may         mon       198         1    999
2            3  telephone   may         mon       139         1    999
3            4  telephone   may         mon       217         1    999
4            5  telephone   may         mon       380         1    999

   previous     poutcome
0         0  nonexistent
1         0  nonexistent
2         0  nonexistent
3         0  nonexistent
4         0  nonexistent

In [28]:
# to import Customer_Response_data

def load_the_dataset_customer_response():
    Customer_Response_data = None
    # Code starts here
    try:
        Customer_Response_data=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Customer_Response_data.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return Customer_Response_data

In [30]:
# store the result of the dataset
Customer_Response_data=load_the_dataset_customer_response()
print(Customer_Response_data.head())

   Customer_id   y
0            1  no
1            2  no
2            3  no
3            4  no
4            5  no

In [31]:
# to import Customer_social_economic_data

def load_the_dataset_customer_social_economic_data():
    Customer_social_economic_data = None
    # Code starts here
    try:
        Customer_social_economic_data=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Customer_social_economic_data.csv')
    except Exception as e:
        return "Check with file"

    # code ends here
    return Customer_social_economic_data

In [32]:
# store the result of the dataset
Customer_social_economic_data=load_the_dataset_customer_social_economic_data()
print(Customer_social_economic_data.head())

   Customer_id  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0            1           1.1          93.994          -36.4      4.857
1            2           1.1          93.994          -36.4      4.857
2            3           1.1          93.994          -36.4      4.857
3            4           1.1          93.994          -36.4      4.857
4            5           1.1          93.994          -36.4      4.857

   nr.employed
0       5191.0
1       5191.0
2       5191.0
3       5191.0
4       5191.0

In [33]:
#to import Customer_Postal_Code_details

def load_the_dataset_customer_postal_code():
    Customer_Postal_Code_details = None
    # Code starts here
    try:
        Customer_Postal_Code_details=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Customer_Postal_Code_details.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return Customer_Postal_Code_details

In [35]:
# store the result of the dataset
Customer_Postal_Code_details=load_the_dataset_customer_postal_code()
print(Customer_Postal_Code_details.head())

   customer_id  Postal Code
0            1        42420
1            2        42420
2            3        90036
3            4        33311
4            5        33311

In [36]:
#to import State_Master
def load_the_dataset_state_master():
    State_Master = None
    # Code starts here
    try:
        State_Master=pd.read_csv('/home/labuser/Desktop/Project/Datasets/State_Master.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return State_Master

In [38]:
# store the result of the dataset
State_Master=load_the_dataset_state_master()
print(State_Master.head())

  State_Code      State_Name  Region_Code
0         S1        Kentucky            3
1         S2      California            4
2         S3         Florida            3
3         S4  North Carolina            3
4         S5      Washington            4

In [39]:
#to import Region_code_master
def load_the_dataset_region_code_master():
    Region_code_master = None
    # Code starts here
    try:
        Region_code_master=pd.read_csv('/home/labuser/Desktop/Project/Datasets/Region_code_master.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return Region_code_master

In [40]:
# store the result of the dataset
Region_code_master=load_the_dataset_region_code_master()
print(Region_code_master)

  Region_Name  Region_Code
0     Central            1
1        East            2
2       South            3
3        West            4
4       North            5

In [41]:
#to import City_Master
def load_the_dataset_city_master():
    City_Master = None
    # Code starts here
    try:
        City_Master=pd.read_csv('/home/labuser/Desktop/Project/Datasets/City_Master.csv')
    except Exception as e:
        return "Check with file"
    # code ends here
    return City_Master

In [43]:
# store the result of the dataset
City_Master=load_the_dataset_city_master()
print(City_Master.head())

  City_Code        City_Name State_Code
0        C1        Henderson         S1
1        C2      Los Angeles         S2
2        C3  Fort Lauderdale         S3
3        C4          Concord         S4
4        C5          Seattle         S5

#### change column name of dataframe

* change the column_names in the Dataframe from 'customer_id'to 'Customer_id' wherever necessary

In [46]:
def modname():
    Custom = None
    # Code starts here
    Custom=Customer_Postal_Code_details.rename(columns={'customer_id':'Customer_id'})
    # Code ends here
    return Custom

In [47]:
Custom=modname()
print(Custom)
#print(Customer_Postal_Code_details)

       Customer_id  Postal Code
0                1        42420
1                2        42420
2                3        90036
3                4        33311
4                5        33311
...            ...          ...
37079        37080        10009
37080        37081        10011
37081        37082        10009
37082        37083        85254
37083        37084        79109

[37084 rows x 2 columns]

#### T1.2. Create the updated dataframes by using relevant merging options and validate.  (Weightage-  8 marks) (AE)

#### NOTE:
- Design the functions, custom_merge1(df1, df2),custom_merge2(df1, df2),custom_merge3(df1, df2),custom_merge4(df1, df2),custom_merge5(df1, df2),custom_merge6(df1, df2),custom_merge7(df1, df2) to merges two DataFrames (df1 and df2) based on a common column using an inner join.
- Custom merge function
- Hint: Inner

In [48]:

def custom_merge1(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(customer_and_bankdetails,Customer_campaign_details)
    # Code ends here
    return merged_df

In [50]:
# Call the custom function
result_df = custom_merge1(customer_and_bankdetails,Customer_campaign_details)
print(result_df.head())

   Customer_id  age          job  marital            education  default  \
0            1   56     services  married          high.school       no
1            2   45     services  married             basic.9y  unknown
2            3   59       admin.  married  professional.course       no
3            4   41  blue-collar  married              unknown  unknown
4            5   24   technician   single  professional.course       no

  housing loan Region_Code State_Code City_Code    contact month day_of_week  \
0      no  yes           3         S1        C1  telephone   may         mon
1      no   no           3         S1        C1  telephone   may         mon
2      no   no           4         S2        C2  telephone   may         mon
3      no   no           3         S3        C3  telephone   may         mon
4     yes   no           3         S3        C3  telephone   may         mon

   duration  campaign  pdays  previous     poutcome
0       307         1    999         0  nonexistent
1       198         1    999         0  nonexistent
2       139         1    999         0  nonexistent
3       217         1    999         0  nonexistent
4       380         1    999         0  nonexistent

In [57]:
result_df.shape

(37084, 19)

In [59]:
customer_and_bankdetails.shape

(37084, 11)

In [60]:
Customer_campaign_details.shape

(37084, 9)

In [63]:
merged_df=pd.merge(result_df,Customer_Response_data,how='inner')
merged_df

,Customer_id,age,job,marital,education,default,housing,loan,Region_Code,State_Code,City_Code,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,1,56,services,married,high.school,no,no,yes,3,S1,C1,telephone,may,mon,307,1,999,0,nonexistent,no
1,2,45,services,married,basic.9y,unknown,no,no,3,S1,C1,telephone,may,mon,198,1,999,0,nonexistent,no
2,3,59,admin.,married,professional.course,no,no,no,4,S2,C2,telephone,may,mon,139,1,999,0,nonexistent,no
3,4,41,blue-collar,married,unknown,unknown,no,no,3,S3,C3,telephone,may,mon,217,1,999,0,nonexistent,no
4,5,24,technician,single,professional.course,no,yes,no,3,S3,C3,telephone,may,mon,380,1,999,0,nonexistent,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37079,37080,73,retired,married,professional.course,no,yes,no,2,S16,C21,cellular,nov,fri,334,1,999,0,nonexistent,yes
37080,37081,46,blue-collar,married,professional.course,no,no,no,2,S16,C21,cellular,nov,fri,383,1,999,0,nonexistent,no
37081,37082,56,retired,married,university.degree,no,yes,no,2,S16,C21,cellular,nov,fri,189,2,999,0,nonexistent,no
37082,37083,44,technician,married,professional.course,no,no,no,4,S17,C49,cellular,nov,fri,442,1,999,0,nonexistent,yes
37083,37084,74,retired,married,professional.course,no,yes,no,1,S6,C113,cellular,nov,fri,239,3,999,1,failure,no

In [80]:
# Second Dataframe: df2=df1 and customer_response_data
# Hint: Inner
# Validate rows and columns numbers = [37084 rows x 20 columns]
def custom_merge2(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(result_df,Customer_Response_data,how='inner')
    # Code ends here
    return merged_df

In [82]:
# Call the custom function
result_df1 = custom_merge2(result_df,Customer_Response_data)
print(result_df1.head())

   Customer_id  age          job  marital            education  default  \
0            1   56     services  married          high.school       no
1            2   45     services  married             basic.9y  unknown
2            3   59       admin.  married  professional.course       no
3            4   41  blue-collar  married              unknown  unknown
4            5   24   technician   single  professional.course       no

  housing loan Region_Code State_Code City_Code    contact month day_of_week  \
0      no  yes           3         S1        C1  telephone   may         mon
1      no   no           3         S1        C1  telephone   may         mon
2      no   no           4         S2        C2  telephone   may         mon
3      no   no           3         S3        C3  telephone   may         mon
4     yes   no           3         S3        C3  telephone   may         mon

   duration  campaign  pdays  previous     poutcome   y
0       307         1    999         0  nonexistent  no
1       198         1    999         0  nonexistent  no
2       139         1    999         0  nonexistent  no
3       217         1    999         0  nonexistent  no
4       380         1    999         0  nonexistent  no

In [83]:
result_df1.shape

(37084, 20)

In [84]:
#Third Dataframe: df3=df2 and customer_social_economic_data
# Validate rows and columns numbers = [37084 rows x 25 columns]
# Hint: Inner
def custom_merge3(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(result_df1,Customer_social_economic_data)
    # Code ends here
    return merged_df

In [86]:
# Call the custom function
result_df2 = custom_merge3(result_df1,Customer_social_economic_data)
print(result_df2.head())

   Customer_id  age          job  marital            education  default  \
0            1   56     services  married          high.school       no
1            2   45     services  married             basic.9y  unknown
2            3   59       admin.  married  professional.course       no
3            4   41  blue-collar  married              unknown  unknown
4            5   24   technician   single  professional.course       no

  housing loan Region_Code State_Code  ... campaign pdays previous  \
0      no  yes           3         S1  ...        1   999        0
1      no   no           3         S1  ...        1   999        0
2      no   no           4         S2  ...        1   999        0
3      no   no           3         S3  ...        1   999        0
4     yes   no           3         S3  ...        1   999        0

      poutcome   y  emp.var.rate  cons.price.idx  cons.conf.idx euribor3m  \
0  nonexistent  no           1.1          93.994          -36.4     4.857
1  nonexistent  no           1.1          93.994          -36.4     4.857
2  nonexistent  no           1.1          93.994          -36.4     4.857
3  nonexistent  no           1.1          93.994          -36.4     4.857
4  nonexistent  no           1.1          93.994          -36.4     4.857

  nr.employed
0      5191.0
1      5191.0
2      5191.0
3      5191.0
4      5191.0

[5 rows x 25 columns]

In [87]:
result_df2.shape

(37084, 25)

In [91]:
#Fourth Dataframe: df4= df3 and customer_postal_code_details
#Validate rows and columns numbers = [37084 rows x 26 columns]
#Hint: Inner

def custom_merge4(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(result_df2,Custom)
    # Code ends here
    return merged_df

In [93]:
# Call the custom function
result_df3 = custom_merge4(result_df2,Custom)
print(result_df3.head())

   Customer_id  age          job  marital            education  default  \
0            1   56     services  married          high.school       no
1            2   45     services  married             basic.9y  unknown
2            3   59       admin.  married  professional.course       no
3            4   41  blue-collar  married              unknown  unknown
4            5   24   technician   single  professional.course       no

  housing loan Region_Code State_Code  ... pdays previous     poutcome   y  \
0      no  yes           3         S1  ...   999        0  nonexistent  no
1      no   no           3         S1  ...   999        0  nonexistent  no
2      no   no           4         S2  ...   999        0  nonexistent  no
3      no   no           3         S3  ...   999        0  nonexistent  no
4     yes   no           3         S3  ...   999        0  nonexistent  no

   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m nr.employed  \
0           1.1          93.994          -36.4      4.857      5191.0
1           1.1          93.994          -36.4      4.857      5191.0
2           1.1          93.994          -36.4      4.857      5191.0
3           1.1          93.994          -36.4      4.857      5191.0
4           1.1          93.994          -36.4      4.857      5191.0

  Postal Code
0       42420
1       42420
2       90036
3       33311
4       33311

[5 rows x 26 columns]

In [94]:
result_df3.shape

(37084, 26)

In [95]:
#Fifth Dataframe: df5= state_master and region_code_master
#Validate rows and columns numbers = 49 rows and 4 columns
#Hint: Left
def custom_merge5(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(State_Master,Region_code_master)
    # Code ends here
    return merged_df

In [96]:
# Call the custom function
result_df4 = custom_merge5(State_Master,Region_code_master)
print(result_df4)

   State_Code            State_Name  Region_Code Region_Name
0          S1              Kentucky            3       South
1          S3               Florida            3       South
2          S4        North Carolina            3       South
3         S18              Virginia            3       South
4         S19             Tennessee            3       South
5         S20               Alabama            3       South
6         S21        South Carolina            3       South
7         S29             Louisiana            3       South
8         S33               Georgia            3       South
9         S36           Mississippi            3       South
10        S37              Arkansas            3       South
11         S2            California            4        West
12         S5            Washington            4        West
13         S8                  Utah            4        West
14        S17               Arizona            4        West
15        S22                Oregon            4        West
16        S23              Colorado            4        West
17        S28            New Mexico            4        West
18        S34                Nevada            4        West
19        S38               Montana            4        West
20        S46                 Idaho            4        West
21        S48               Wyoming            4        West
22         S6                 Texas            1     Central
23         S7             Wisconsin            1     Central
24         S9              Nebraska            1     Central
25        S11              Illinois            1     Central
26        S12             Minnesota            1     Central
27        S13              Michigan            1     Central
28        S15               Indiana            1     Central
29        S24                  Iowa            1     Central
30        S26              Missouri            1     Central
31        S27              Oklahoma            1     Central
32        S42                Kansas            1     Central
33        S45          South Dakota            1     Central
34        S47          North Dakota            1     Central
35        S10          Pennsylvania            2        East
36        S14              Delaware            2        East
37        S16              New York            2        East
38        S25                  Ohio            2        East
39        S30           Connecticut            2        East
40        S31            New Jersey            2        East
41        S32         Massachusetts            2        East
42        S35          Rhode Island            2        East
43        S39         New Hampshire            2        East
44        S40              Maryland            2        East
45        S41  District of Columbia            2        East
46        S43               Vermont            2        East
47        S44                 Maine            2        East
48        S49         West Virginia            2        East

In [97]:

def custom_merge6(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(City_Master,result_df4)
    # Code ends here
    return merged_df

In [98]:
# Call the custom function
result_df5 = custom_merge6(City_Master,result_df4)
print(result_df5)

    City_Code      City_Name State_Code     State_Name  Region_Code  \
0          C1      Henderson         S1       Kentucky            3
1        C103       Richmond         S1       Kentucky            3
2        C160       Florence         S1       Kentucky            3
3        C209         Murray         S1       Kentucky            3
4        C257  Bowling Green         S1       Kentucky            3
..        ...            ...        ...            ...          ...
526      C461       Caldwell        S46          Idaho            4
527      C514     Twin Falls        S46          Idaho            4
528      C403          Fargo        S47   North Dakota            1
529      C459       Cheyenne        S48        Wyoming            4
530      C463         Nashua        S39  New Hampshire            2

    Region_Name
0         South
1         South
2         South
3         South
4         South
..          ...
526        West
527        West
528     Central
529        West
530        East

[531 rows x 6 columns]

In [113]:
def custom_merge7(df1,df2):
    merged_df = None
    # Code starts here
    merged_df=pd.merge(result_df3,result_df5,on='City_Code')

    # Code ends here
    return merged_df

In [114]:
common_cols=set(result_df3.columns)&set(result_df5.columns)
print(common_cols)

{'Region_Code', 'City_Code', 'State_Code'}

In [115]:
type(result_df3)

pandas.core.frame.DataFrame

In [116]:
type(result_df5)

pandas.core.frame.DataFrame

In [117]:
# Call the custom function
df = custom_merge7(result_df3,result_df5)
print(df)

       Customer_id  age          job   marital          education  default  \
0                1   56     services   married        high.school       no
1                2   45     services   married           basic.9y  unknown
2              539   32       admin.    single  university.degree       no
3              540   36     services   married        high.school       no
4              997   31  blue-collar   married           basic.9y       no
...            ...  ...          ...       ...                ...      ...
37079        19864   47       admin.  divorced  university.degree       no
37080        19865   58      retired   married           basic.4y       no
37081        29857   35       admin.   married        high.school       no
37082        29858   38   technician   married        high.school       no
37083        29859   50      unknown   married           basic.4y  unknown

      housing loan Region_Code_x State_Code_x  ... cons.price.idx  \
0          no  yes             3           S1  ...         93.994
1          no   no             3           S1  ...         93.994
2          no   no             3           S1  ...         93.994
3          no   no             3           S1  ...         93.994
4          no   no             3           S1  ...         93.994
...       ...  ...           ...          ...  ...            ...
37079      no   no             2          S25  ...         93.444
37080     yes   no             2          S25  ...         93.444
37081     yes   no             2          S25  ...         92.893
37082     yes   no             2          S25  ...         92.893
37083     yes   no             2          S25  ...         92.893

      cons.conf.idx euribor3m nr.employed  Postal Code  City_Name  \
0             -36.4     4.857      5191.0        42420  Henderson
1             -36.4     4.857      5191.0        42420  Henderson
2             -36.4     4.857      5191.0        42420  Henderson
3             -36.4     4.857      5191.0        42420  Henderson
4             -36.4     4.856      5191.0        42420  Henderson
...             ...       ...         ...          ...        ...
37079         -36.1     4.964      5228.1        45040      Mason
37080         -36.1     4.964      5228.1        45040      Mason
37081         -46.2     1.291      5099.1        45040      Mason
37082         -46.2     1.291      5099.1        45040      Mason
37083         -46.2     1.291      5099.1        45040      Mason

       State_Code_y  State_Name Region_Code_y Region_Name
0                S1    Kentucky             3       South
1                S1    Kentucky             3       South
2                S1    Kentucky             3       South
3                S1    Kentucky             3       South
4                S1    Kentucky             3       South
...             ...         ...           ...         ...
37079           S25        Ohio             2        East
37080           S25        Ohio             2        East
37081           S25        Ohio             2        East
37082           S25        Ohio             2        East
37083           S25        Ohio             2        East

[37084 rows x 31 columns]

#### Refer to the Github document from Lumen to create the repository and steps to commit 

#### Add your Github repository link below

#### T1.3. Export the final data frame df to GitHub for versioning.  (Weightage-2 marks) ME

#### NOTE:

- Design a function `export_to_csv` export the DataFrame to a CSV file with the specified filename.

In [120]:
def export_to_csv(df, filename):

    """
    Exports a Pandas DataFrame to a CSV file.

    Args:
        df (pd.DataFrame): The DataFrame to export.
        filename (str): The desired filename for the CSV file.
    """
# Code starts here
    return df.to_csv(filename)
 # Code ends here

In [121]:
# Example usage:
my_dataframe = pd.DataFrame(df)  # Your actual DataFrame here
export_to_csv(my_dataframe, "my_data.csv")

#### T1.4. Reporting (Weightage- 2 marks each)  (ME)
1.	Customer contact mode made.
2.	Analysis on attempts made to turn a person into successful depositor.
3.	Data analysis on marital status, existing loans, education, profession etc. and its impact on the campaign’s success
4.	Socio-economic analysis of the customers

### Task 2: Load the dataset and perform preliminary EDA (Exploratory Data Analysis) with key observations and insights- (weightage - 35 marks)

#### T2.1 Import the data stored above from GITHUB using try and except blocks for modelling and create data frame “df” (weightage 2 marks) AE

In [ ]:
def load_the_dataset_from_github():

    # Code starts here


    # Code ends here  
    return df

In [ ]:
# store the result of the dataset
df=load_the_dataset_from_github()

#### T2.2	Drop the columns from the data frame df: 'Customer_id', 'Region_Code_y','Region_Code_x', 'State_Code_x',  "City_Code", ' State_Code_y',  'Postal Code', 'City_Name', 'State_Code_y', 'State_Name', 'Region_Code_y', 'Region_Name' . (weightage 2 marks) AE

#### NOTE:
- Design a Function `drop_var` to drop/remove specific columns from the Data frame
- Dropping columns from a DataFrame involves removing specific columns that are not required for analysis or modeling.
- This operation helps streamline the dataset and focus on relevant variables, reducing complexity and improving computational efficiency.
- Before dropping columns, it's essential to identify the columns to be removed based on their names or indices.

In [ ]:
# dropping the given variables
def drop_var(df):
    x = None
    # Code starts here

    # Code ends here
    return x

In [ ]:
df=drop_var(df)
print(df)

#### T2.3	Change the order of columns as per data dictionary. (weightage 2 marks) AE

#### NOTE:
- Design a Function `reorder` to rearrange specific columns from the Data frame.
- A data dictionary provides metadata about the variables or attributes in a dataset, including their names, descriptions, data types, and order.
- It serves as a reference guide for understanding the structure and meaning of the data.
- Changing the order of columns in a DataFrame involves rearranging the columns to match the specified order in the data dictionary.
- This ensures consistency between the dataset's structure and the documented metadata.

In [ ]:
def reorder(df):
   
   x = None
   # Code starts here

   # Code ends here
   return x

In [ ]:

df=reorder(df)
print(df)

#### T2.4	Get the counts of values for the attribute target variable – ‘y’ (weightage 2 marks) AE

#### NOTE:
- Design a Function `get_y_counts` to get the counts of the most common values from the Data frame
- The target variable, often denoted as 'y', is the variable of interest in a predictive modeling task.
- It represents the outcome or response variable that the model aims to predict based on the input features.
- Getting the counts of values for the target variable provides insights into the distribution of outcomes or classes.
- It helps in understanding the balance or imbalance between different classes and assessing the prevalence of each class in the dataset.

In [ ]:
# to get count of values for the variable y

def get_y_counts(df):
    y_value_counts = None
    # Code starts here

    # Code ends here
    return y_value_counts

In [ ]:
df1=get_y_counts(df)
print(df1)

#### T2.5 Check missing values in the data in terms of percentage using error handling technique  and do missing value treatment. (weightage 2 marks) AE  


#### NOTE:
-  Get sum/ percentage of null values to find any missing values if present in data or not, for all the attributes in data frame ‘df’ 
- Missing values are data points that are absent or unavailable in the dataset, often represented as NaN (Not a Number) or null values.
- Detecting missing values is a critical step in data preprocessing to ensure data integrity and reliability.

In [ ]:
def missing_value_check(data):
    missing_percentage = None
    # Code starts here

    # Code ends here
    return  missing_percentage

In [ ]:
missing_value_check(data=df)

df2=get_all_sum()
print(df2)

#df.info()
#df.head()

#df.isnull().sum()
#print(df.head())

#### NOTE:
- Design a Function `rows_columns` to get the number of rows and columns from the Data frame.
- The total number of rows and columns in a dataset provides information about its dimensionality.
- The number of rows represents the observations or samples in the dataset, while the number of columns represents the variables or features.

#### T2.6 Check total number of rows and columns in the dataset (Weightage 2 marks )AE

#### NOTE:
- Design a Function `rows_columns` to get the number of rows and columns from the Data frame.

In [ ]:
def rows_columns(df): 
    x = None
    # Code starts here

    # Code ends here
    return(x)

In [ ]:
RowsCols=rows_columns(df) 
print(RowsCols)

#### T2.7 Get the descriptive statistics for all the columns in the data frame. (weightage 2 marks) ME

#### NOTE:
- Descriptive statistics provide a summary of the key characteristics or properties of the data, helping to understand its distribution, central tendency, dispersion, and shape.
- Common descriptive statistics include measures of central tendency (mean, median, mode), measures of dispersion (standard deviation, variance, range), and measures of shape (skewness, kurtosis).

In [ ]:
# code to get descriptive statistics for all numeric columns using describe function

#### T2.8	Change pday values if the value is 999 replace with ‘no’ else ‘yes’ (Weightage 2 marks )AE

- changing pdays()values 

#### NOTE:
- Design a Function `pcontacted` to replace pdays values if the value is '999' replace it with 'no' else replace it with a 'yes'
- Changing the values in the 'pday' column involves transforming the existing numerical values to categorical labels based on a specified condition.
- This transformation allows for a more intuitive interpretation of the data and facilitates subsequent analysis or visualization tasks.

In [ ]:
def pcontacted(x):

    # Code starts here


    # Code ends here

    return

In [ ]:
# df['pdays'] = df['pdays'].apply(pcontacted)
# print(df['pdays'])
print(pcontacted(x))

#### T2.9 Rename ‘pdays’ column name with ‘bcontacted’ and get value counts and find number of ‘yes’ and ‘no’. Perform binomial test for proportions on pdays and give inferences based on pvalues (weightage 2 marks) ME

#### NOTE: 

- Renaming the 'pdays' column to 'bcontacted' involves changing the name of the column to better reflect its meaning or purpose in the dataset.
- `'bcontacted'` suggests that the column represents whether a contact has been made (binary indicator), which may be more intuitive than 'pdays' (number of days since the client was last contacted).

#### NOTE:

- Design a Function to determine whether the proportion of successes in a binary outcome variable ('pdays') is significantly different from a specified null hypothesis proportion.

In [ ]:
import numpy as np
from scipy.stats import binom_test
p_value = None
inference = None
# Assuming 'pdays' is a binary outcome variable with 1 for success and 0 for failure
# You would need to replace 'success_count' and 'total_trials' with your actual data
# success_count =  # Number of successes (e.g., number of '1's/ 'yes' in 'pdays')
# total_trials = # Total number of trials (e.g., total number of observations)

# Define the proportion you want to test against


# Perform the binomial test


# Determine significance based on the p-value



print("p-value:", p_value)
print("Inference:", inference)

In [ ]:
## Adding the Functions

from scipy.stats import binom_test

def binomial_test(success_count, total_trials, null_hypothesis_proportion, alpha=0.05):

    # Code starts here
    """
    Perform a binomial test to determine the significance of the observed proportion of successes.

    Parameters:
    - success_count (int): The number of successes.
    - total_trials (int): The total number of trials or observations.
    - null_hypothesis_proportion (float): The proportion specified in the null hypothesis.
    - alpha (float): The significance level (default is 0.05).

    Returns:
    - p_value (float): The p-value calculated from the binomial test.
    - inference (str): The inference conclusion based on the p-value and significance level.
    """
    # Perform the binomial test

    # Determine significance based on the p-value


        # Code ends here

    return p_value, inference

In [ ]:
# Example usage:
success_count = 120  # Number of successes (e.g., number of '1's/ 'yes' in 'pdays')
total_trials = 250  # Total number of trials (e.g., total number of observations)
null_hypothesis_proportion = 0.5  # Proportion specified in the null hypothesis
alpha = 0.05  # Significance level

p_value, inference = binomial_test(success_count, total_trials, null_hypothesis_proportion, alpha)
print("p-value:", p_value)
print("Inference:", inference)

#### T2.10	Use the below function/ create a function of your own and drop null values from  ('job'), ('marital'), ('education'), ('housing') (weightage 2 marks) AE

 #### NOTE:
- Design a Function `drop` to drop Null values from the Data Frame
- Dropping null values from specific columns is a common data cleaning task to handle missing or incomplete data.
- By removing rows with missing values in specific columns, we ensure that the data used for analysis or modeling is complete and reliable.

In [ ]:
# Drops nulls
import numpy as np

def drop(column,df):
    # Code starts here
    


    return df

    # Code ends here

In [ ]:
drop('job',df)
drop('marital',df)
drop('education',df)
drop('housing',df)

# df.info()

sns.countplot(data=df, x='y',palette='GnBu')
plt.show()

df['y'].value_counts()

#### T2.11	Perform data separation store all categorical variables in as ‘cat’ and All numeric variables in as ‘Numeric’ (weightage 2 marks) ME

#### NOTE:
- Data separation involves segregating different types of variables in a dataset based on their data types or characteristics.
- we aim to separate categorical variables, which represent qualitative attributes, from numeric variables, which represent quantitative attributes.
- Categorical variables are qualitative variables that represent categories or groups.
- Numeric variables are quantitative variables that represent numerical values.

In [ ]:
# Getting all catogorical variables

#### T2.12	Create countplot for all categorical variables (weightage 2 marks) ME

#### T2.12	Create countplot for all categorical variables (weightage 2 marks) ME
- Count plots are graphical representations that display the frequency or count of observations within different categories of a categorical variable.
- They provide a visual summary of the distribution of categorical data, making it easier to understand the relative frequencies of different categories.

In [ ]:

import seaborn as sns
import matplotlib.pyplot as plt

# Code starts here


# code ends here

#### T2.13	Change datatype for ‘month’ and ‘day_of_week’ as ‘str’ (weightage 2 marks) ME

- Numbers: to get number of numeric variables
- Changing the data type of columns to 'str' converts the numerical or categorical values in the columns to string format.
- This conversion is useful when treating these columns as categorical variables or when the values represent labels rather than numeric quantities.

In [ ]:
# Code starts here


# Code ends here

#### T2.14	Create histogram to know the Distribution of Attributes in the data frame df and check for normality (weightage 2 marks) ME

- Histograms are graphical representations of the distribution of numerical data.
- They provide a visual summary of the frequency or count of observations within different intervals, or "bins," of the data.

In [ ]:
# Code starts here

# Code ends here

#### T2.15	Get Descriptive Statistics for all numeric variables (weightage 2 marks) ME

- Hint: Using the code: np.log(df['campaign'] + 1) perform log transformation and create an histogram.

- To get descriptive statistics

#### T2.16	Drop variable duration from df (weightage 1 marks) ME

- drop duration Coloumn
- Dropping a variable can impact subsequent analysis, such as descriptive statistics, exploratory data analysis, or predictive modeling.
- Ensure that dropping the "duration" variable does not compromise the integrity or quality of the dataset.

#### T2.17	Create Visualizations for: Correlations and Scatter plot and find with relevant statistical function Pearson's coefficient, if there is correlation or not, based on p values (weightage 2 marks) ME
`Correlation Heatmap`:
- Use seaborn's heatmap function to create a correlation heatmap.
- The heatmap displays correlation coefficients between pairs of variables.

`Scatter Plot`:
- Use seaborn's scatterplot function to create scatter plots between pairs of variables.
- Scatter plots visualize the relationship between two continuous variables.

`Pearson's Correlation Coefficient`:
- Calculate Pearson's correlation coefficient (also known as Pearson's r) to quantify the strength and direction of the linear relationship between two continuous variables.
- Pearson's r ranges from -1 to 1, where:
    - 1 indicates a perfect positive linear relationship,
    - -1 indicates a perfect negative linear relationship, and 0 indicates no linear relationship.

#### T2.18	Perform Feature Engineering for all the features using get_dummies function except for target feature y  (weightage 2 marks) AE

#### NOTE:
- This function `dummy_function` should convert categorical variables into dummy variables using one-hot encoding, a common preprocessing technique in machine learning.
- It must take a DataFrame (data) containing categorical variables as input.

In [ ]:
# df_features = df.iloc[:,:-1]
#print(df_features)

def dummy_function(data):
    # df_features = df.iloc[:,:-1]
    df_features1 = None

    # Code starts here

    # Code ends here
    return df_features1

#display(df_features.head(5))

In [ ]:
df_features=dummy_function(df)

### Task 3: Build  model for predicting after splitting the dataset (weightage - 15 marks) 

#### NOTE:
- Split the dataset into X and y, with test_size=0.33 and random_state=42

#### T3.1	RandomForestClassifier(n_estimators=100, random_state=42), n_features_to_select=20) (weightage 5 marks) ME

- Save the code for model versioning

#### NOTE:
- Build a machine learning model for classification using random forest.
- Employ recursive feature elimination (RFE) for feature selection.
- The function should take input features X and target variable y.
- The function can iterate over a range of n_features, which specifies the number of features to select.

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

def select_features(X, y, test_size=0.2, n_features=[20]):
    features = None
    np.warnings.filterwarnings('ignore')

    # Code starts here


   # Code ends here
    
    return features

In [ ]:
select = select_features(X, y)

### Classification model
#### T3.2	Create KNN model using the following parameters, KNeighborsClassifier(n_neighbors=10) Save the code for model versioning (weightage 5 marks) ME

#### NOTE:
- Build a machine learning model for classification using KNeighbors.
- The function should take input features (df_features), target feature (target_feature), and a list of features to consider (features).
- The function can iterate over a range of n_features, which specifies the number of features to select.
- The function must create a KNN classifier with the specified number of neighbors and fits it to the training data.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

def build_knn_model(df_features, target_feature, features):
    knn = None

    # Code starts here
   
    # Code ends here
    
    return knn  # Returning the trained model

In [ ]:
# Call the function to build the KNN model
knn_model = build_knn_model(df_features, df['y'], select)

#### T3.3	Create a Gradient boosting classifier model using the following parameters , GradientBoostingClassifier with options: n_estimators=100, random_state=42, max_depth=1. Save the code for model versioning (weightage 5 marks) ME

- Gradient Boosting

#### NOTE:
- Build a machine learning model for classification using Gradient Boosting.
- define a function `build_gbrt_model` that takes input features X, target variable y, and some optional parameters like random_state, n_estimators, max_depth, and test_size.

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

def build_gbrt_model(X, y, random_state=42, n_estimators=100, max_depth=1, test_size=0.2):
    gbrt = None

    # Code starts here


    # Code ends here
    return gbrt

In [ ]:
gbrt=build_gbrt_model(X, y)

In [ ]:
gbrt

### Task 4: Evaluate the performance of the model using the right evaluation metrics.(weightage - 20 marks)

#### T4.1	Evaluate the above models by getting accuracy, Precision, Recall, F1 Score, Kappa Score	(weightage - 4 marks) AE

#### Random forest

#### NOTE:

-  Define a function which takes input as the test features (X_test), test labels (y_test), and the trained model (model).
- Predict labels for the test set and then calculate evaluation metrics such as accuracy, precision, recall, and Cohen's kappa.
**Range of results:** 

    -if accuracy +/-0.10  
    -if precision +/-0.10  
    -if recall +/-0.10  
    -if kappa +/-0.10  

    - all results are correct: 100%: 4 marks
    - otherwise score: 3 marks

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, cohen_kappa_score

def evaluate_model1(X_test, y_test, model):
    accuracy,precision,recall,kappa = 0.0,0.0,0.0,0.0




    # Code ends here
    
   
    return accuracy, precision, recall, kappa

# Example usage:
# accuracy, precision, recall, kappa = evaluate_model(X_test, y_test, your_model)  # Replace your_model with the trained model

In [ ]:
# call the function
accuracy=evaluate_model1(X_test, y_test,select)[0]
precision=evaluate_model1(X_test, y_test,select)[1]
recall=evaluate_model1(X_test, y_test,select)[2]
kappa=evaluate_model1(X_test, y_test,select)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

### Knn model

#### NOTE:

- Evaluate a saved k-nearest neighbors (KNN) model using various classification metrics.
- The Function should take a input the trained KNN model (knn_model), test features (X_test), and test labels (y_test).
- Then it must predict labels for the test set using the provided KNN model and calculates evaluation metrics such as accuracy, precision, recall, and Cohen's kappa.



**Range of results: 

-if accuracy +/-0.10  
-if precision +/-0.10  
-if recall +/-0.10  
-if kappa +/-0.10  

- all results are correct: 100%: 4 marks
- otherwise score: 3 marks

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, cohen_kappa_score

def evaluate_saved_knn_model(knn_model, X_test, y_test):
    accuracy, precision, recall, kappa = 0.0,0.0,0.0,0.0

    # Code starts here

    # Code ends here
    
    return accuracy, precision, recall, kappa

In [ ]:
# call the function
accuracy=evaluate_saved_knn_model(knn_model, X_test, y_test)[0]
precision=evaluate_saved_knn_model(knn_model, X_test, y_test)[1]
recall=evaluate_saved_knn_model(knn_model, X_test, y_test)[2]
kappa=evaluate_saved_knn_model(knn_model, X_test, y_test)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

### Gradient Boosting

#### NOTE:
- Define a Function that evaluates a Gradient Boosting Classifier model (gbrt) using various classification metrics.
- The function must calculate metrics such as accuracy, precision, recall, and Cohen's kappa, based on the predictions made by the model on the test set.



**Range of results: 

-if accuracy +/-0.10  
-if precision +/-0.10  
-if recall +/-0.10  
-if kappa +/-0.10  

- all results are correct: 100%: 4 marks
- otherwise score: 3 marks

In [ ]:
def evaluate_gbrt_model(gbrt, X_test, y_test):
    accuracy, precision, recall, kappa = 0.0,0.0,0.0,0.0

    # Code starts here


    # Code ends here
    
    return accuracy, precision, recall, kappa

In [ ]:
# call the function
accuracy=evaluate_gbrt_model(gbrt, X_test, y_test)[0]
precision=evaluate_gbrt_model(gbrt, X_test, y_test)[1]
recall=evaluate_gbrt_model(gbrt, X_test, y_test)[2]
kappa=evaluate_gbrt_model(gbrt, X_test, y_test)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

#### T.4.2 Perform Hyperparameter tuning. Re build the model with best suitable modelling technique (weightage 5 marks) ME

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

# Define the parameter grid for hyperparameter tuning


# Create the Gradient Boosting Classifier model


# Perform Grid Search with 5-fold cross-validation


# Fit the Grid Search to find the best parameters

# Get the best parameters and best score


# Rebuild the model with the best parameters


# Print the best parameters and best score

#### T.4.3 Using Lime/SHAP libraries, explain the prediction of your classification model and give inferences.   (weightage 3 marks) ME

#### T4.4 Implement unit test case and deploy the above models using Flask/ Stream lit	(weightage - 8 marks) ME

### Task 5: Summarize the findings of the analysis and draw conclusions with PPT / PDF. (weightage - 15 marks) (ME)

##### Classification Model Conclusions

''' The Knn modelwith a test set score of 0.892 was obtained which is fairly good
    but the gradient models are more effective
    
    By using the reduced dataset and the complete dataset to build the model, 
    we obtained the same results (test score of 0.90). 
    the reduced dataset, thought, run a bit faster (0.82 vs 1.06)'''

**Final Submission guidelines:**
- Download the Jupyter notebook in the format of html. 
- Upload it in the lumen (UNext LMS)
- Take a screenshot of T4.4 (Deployment) and upload it in the lumen (UNext LMS)
- Summarized PPT/ PDF prepared in Task 5 to be uploaded in the lumen (UNext LMS)

-------------------------------------------------- **ASSESSMENT ENDS HERE** ---------------------------------------------------------